---
interface Props {
  index: number
  heading: string
  description: string
  image: string
  mimage: string
}
const { index = 0, heading, description, image, mimage }: Props = Astro.props
---

<div
  class={`flex justify-between flex-col-reverse md:flex-row text-white w-full gap-24 items-center ${
    index % 2 && 'md:flex-row-reverse'
  }`}
>
  <div class='w-full md:w-3/5'>
    <h2 class='font-bungee text-5xl md:text-7xl text-lime-200'>
      {heading}
    </h2>
    <p class='font-montserrat mt-5 text-xl text-lime-50'>{description}</p>
    <button
      class='py-2 px-3 hover:bg-yellow-700 bg-yellow-400 transition-all text-gray-900 font-extrabold text-xl w-full md:w-fit mt-5'
    >
      READ MORE
    </button>
  </div>
  <div class='w-full md:w-2/5 shadow-black relative'>
    <img
      src={image}
      class='w-3/4 left-1/2 -translate-x-1/2 rounded-xl shadow-xl shadow-black absolute bottom-0 z-50'
    />
    <img
      src={mimage}
      class='max-h-[600px] rounded-xl shadow-xl shadow-black opacity-50'
    />
  </div>
</div>
