---
interface Props {
  heading: string
  subheading?: string
  skills: {
    name: string
    image: string
  }[]
}
const { skills, heading, subheading } = Astro.props
---

<div class='grid grid-cols-8 rounded-xl gap-2'>
  <div
    class='bg-yellow-400 text-zinc-900 col-span-2 rounded-xl shadow-md shadow-black text-center flex flex-col justify-center aspect-[2/1]'
  >
    <h3 class='font-bungee text-3xl font-bold text-center'>
      {heading}
    </h3>
    {subheading && <h4 class='font-montserrat font-bold'>{subheading}</h4>}
  </div>
  {
    skills.map((item) => (
      <div class='bg-white/5 rounded-xl shadow-md shadow-black p-10 aspect-square'>
        <img src={item.image} class='h-full w-full opacity-80' />
      </div>
    ))
  }
</div>
