---
// Component Imports
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.astro'
import Banner from '../components/Banner/index.astro'
import Project from '../components/Projects/index.astro'
import TitleMarquee from '../components/TitleMarquee.astro'
---

<html lang='en'>
  <head>
    <MainHead
      title='Dhruv Bakshi: Portfolio'
      description='Dhruv Bakshi: Frontend Web Developer'
    />
  </head>
  <body class='overflow-x-hidden'>
    <div class='wrapper min-h-screen flex flex-col md:gap-5'>
      <Nav />
      <Banner />
    </div>
    <TitleMarquee text={'PROJECTS'} />
    <div class='wrapper'>
      <div class='flex flex-col gap-16 md:gap-52'>
        <Project
          index={1}
          heading='STRIDE VENTURES'
          image='/assets/portfolio/stride_ventures.png'
          description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus fermentum nisl in venenatis. Duis bibendum erat et diam lacinia, ut finibus neque fringilla. Nam sit amet nibh dolor. Aliquam dignissim porta quam. Maecenas eros turpis, auctor a dolor id, luctus sagittis dui. Etiam tempor enim vitae nunc convallis tristique. Aliquam erat volutpat.'
        />
        <Project
          index={2}
          heading='WHITE RED SPACE'
          image='/assets/portfolio/whiteredspace.png'
          description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus fermentum nisl in venenatis. Duis bibendum erat et diam lacinia, ut finibus neque fringilla. Nam sit amet nibh dolor. Aliquam dignissim porta quam. Maecenas eros turpis, auctor a dolor id, luctus sagittis dui. Etiam tempor enim vitae nunc convallis tristique. Aliquam erat volutpat.'
        />
        <Project
          index={3}
          heading='TWATTER'
          image='/assets/portfolio/twatter.png'
          description='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus fermentum nisl in venenatis. Duis bibendum erat et diam lacinia, ut finibus neque fringilla. Nam sit amet nibh dolor. Aliquam dignissim porta quam. Maecenas eros turpis, auctor a dolor id, luctus sagittis dui. Etiam tempor enim vitae nunc convallis tristique. Aliquam erat volutpat.'
        />
      </div>
    </div>
  </body>
</html>
