---
// Component Imports
import MainHead from '../components/MainHead.astro'
import Nav from '../components/Nav.astro'
import Banner from '../components/Banner/index.astro'
---

<html lang='en'>
  <head>
    <MainHead
      title='Jeanine White: Personal Site'
      description='Jeanine White: Developer, Speaker, and Writer...'
    />
  </head>
  <body>
    <div class='wrapper'>
      <Nav />
      <Banner />
    </div>
  </body>
</html>
