<div
  class='text-3xl font-amatic text-center bg-black/40 rounded-xl shadow-xl shadow-black text-white py-40 mt-40 lg:my-40 w-[90%] lg:w-4/5 mx-auto'
>
  FOOTER BELOW 👇
</div>
<footer class='flex justify-center gap-10 my-10'>
  <a
    href='https://github.com/isomerX'
    target='_blank'
    class='aspect-square shadow-lg shadow-black rounded-full bg-black p-3'
  >
    <img src='/assets/icons/github.svg' class='h-8' />
  </a>
  <a
    href='https://www.linkedin.com/in/dhruvbakshiwork'
    target='_blank'
    class='aspect-square shadow-lg shadow-black rounded-full bg-black p-3'
  >
    <img src='/assets/icons/linkedin.svg' class='h-8' />
  </a>
  <a
    href='https://twitter.com/dramaticdhruv'
    target='_blank'
    class='aspect-square shadow-lg shadow-black rounded-full bg-black p-3'
  >
    <img src='/assets/icons/twitter.svg' class='h-8' />
  </a>
  <a
    href='mailto:dhruvbakshi12343@gmail.com'
    target='_blank'
    class='aspect-square shadow-lg shadow-black rounded-full bg-black p-3'
  >
    <img src='/assets/icons/mail.svg' class='h-8' />
  </a>
</footer>
