---
import Almost from './Almost.astro'
---

<div
  class='text-blue-200 font-montserrat text-2xl mt-12 mb-6 font-semibold tracking-wide'
>
  THIS IS DHRUV BAKSHI
</div>
<div class='text-9xl text-gray-200 font-bungee'>
  <Almost />{' '} THE<br /> BEST FRONTEND<br /> DEVELOPER
</div>
